.bg_armed {
    background-color: #590038;
}

.joystick_container {
    position: relative;
    height: 100vh;
    border: solid 1px red;
}

.menu {
    
    display: flex;
    align-items: center;
    justify-content: start;

    flex-direction: column;
    height: 100vh;

    .console {
        background-color: #1d1d1d;
        color: #fff;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}